Este proyecto consiste en un proyecto para poner en práctica los distintos modelos de machine learnign para predecir ventas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import warnings
warnings.filterwarnings('ignore')

# Cargar los datos
data = pd.read_excel("Base de datos de Manjar.xlsx")

## Análisis exploratorio

In [4]:
data.head(3)

,agno,mes,upc,descri_item,Vta_Uni,Vta_Pesos,Vta_Kg,EMPRESA,categoria,fabricante,marca,Gramaje,Empaque,SEGMENTO,VARIEDAD,CADENA,ZONAS
0,2018,8,78040519,SOPROLE MANJAR ACARAMELADO PT PL 200 SOPROLE,180.0,134835.0,36.00,RETAILER B,DULCE DE LECHE,SOPROLE,SOPROLE,200,POTE,MANJAR,REGULAR,CADENA B,Z10 CONCEPCION
1,2021,1,7804000001332,ECKART DULCE DE LECHE SIN LACTOSA POTE PL 380 ...,192.0,472371.0,72.96,RETAILER C,DULCE DE LECHE,ECKART ALIMENTOS SPA,ECKART,380,POTE,DULCE DE LECHE,SIN LACTOSA,CADENA C1,Z11 ZONA SUR
2,2018,6,78003095,NESTLE EL MANJAR.POT. 400 NESTLE,1455.0,1486872.0,582.00,RETAILER A,DULCE DE LECHE,NESTLE,NESTLE,400,POTE,MANJAR,REGULAR,CADENA A1,Z2 ANTOFAGASTA

In [5]:
data.shape

(170152, 17)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170152 entries, 0 to 170151
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   agno         170152 non-null  int64
 1   mes          170152 non-null  int64
 2   upc          170152 non-null  int64
 3   descri_item  170152 non-null  object
 4   Vta_Uni      170152 non-null  float64
 5   Vta_Pesos    170152 non-null  float64
 6   Vta_Kg       170152 non-null  float64
 7   EMPRESA      170152 non-null  object
 8   categoria    170152 non-null  object
 9   fabricante   170152 non-null  object
 10  marca        170152 non-null  object
 11  Gramaje      170152 non-null  int64
 12  Empaque      170152 non-null  object
 13  SEGMENTO     170152 non-null  object
 14  VARIEDAD     170152 non-null  object
 15  CADENA       170152 non-null  object
 16  ZONAS        170152 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 22.1+ MB

In [7]:
data.describe()

,agno,mes,upc,Vta_Uni,Vta_Pesos,Vta_Kg,Gramaje
count,170152.000000,170152.000000,1.701520e+05,170152.000000,1.701520e+05,170152.000000,170152.000000
mean,2018.932507,6.318692,6.558602e+12,563.877856,9.535582e+05,345.737104,618.176513
std,1.397662,3.371751,2.823097e+12,2012.152345,3.035358e+06,1345.829732,455.071012
min,2017.000000,1.000000,0.000000e+00,1.000000,1.000000e+00,0.190000,190.000000
25%,2018.000000,3.000000,7.791058e+12,45.000000,8.781575e+04,23.000000,400.000000
50%,2019.000000,6.000000,7.802920e+12,163.000000,2.876440e+05,85.600000,500.000000
75%,2020.000000,9.000000,7.802950e+12,481.000000,8.204415e+05,258.400000,1000.000000
max,2021.000000,12.000000,7.896043e+12,189477.000000,2.106687e+08,105452.000000,9600.000000

In [8]:
data.nunique()

agno                5
mes                12
upc                98
descri_item        98
Vta_Uni          6492
Vta_Pesos      146376
Vta_Kg          13951
EMPRESA             3
categoria           1
fabricante         18
marca              20
Gramaje            26
Empaque             6
SEGMENTO            2
VARIEDAD            7
CADENA              5
ZONAS              16
dtype: int64

In [9]:
data.isnull().sum()

agno           0
mes            0
upc            0
descri_item    0
Vta_Uni        0
Vta_Pesos      0
Vta_Kg         0
EMPRESA        0
categoria      0
fabricante     0
marca          0
Gramaje        0
Empaque        0
SEGMENTO       0
VARIEDAD       0
CADENA         0
ZONAS          0
dtype: int64

In [10]:
data.duplicated().sum()

81

## Preparación de los datos

### Paso 1: Eliminar columnas no necesarias y valores duplicados

### Paso 2: Tratamiento de valores nulos

### Paso 3: Tratamiento de Outliers

### Paso 4: Convertir variables categóricas a Dummies (Antes extraer fecha si es necesario)

### Paso 5: Normalizar variables numéricas

## Selección de variables

## Desarrollo y evaluación del modelo

## Reflexión